<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timecat.plugin.colorreference">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PluginAppTheme">
        <service android:name="com.timecat.plugin.colorreference.MyService" />
        <activity android:name="com.timecat.plugin.colorreference.DetailsActivity"/>

        <activity android:name="com.timecat.plugin.colorreference.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>